html,
body {
  font-family: "Hammersmith One", sans-serif;
  width: 100%;
  height: 100%;
}

header {
  height: 30%;
}

header nav {
  height: 100% !important;
  background-color: #242324;
  padding: 0 100px !important;
}

header nav a {
  color: #ff8a86 !important;
  font-size: 22px;
  /* padding: 0 25px; */
}

header nav .nav-item .nav-link {
  padding: 0 50px !important;
}

header nav .user .user-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  line-height: 40px;
  background-color: #ff8a86;
  color: #29323d;
}

header nav .user .user-option button{
    font-size: 20px;
    color: #ff8a86;
    background-color: transparent!important;
    border: none;
    padding: 0 15px;
}

header nav .user .user-option button{
    outline: none!important;
}
header nav .user {
    align-items: center;
}
header nav .user .user-option button:hover{
    color: #fff;
}


header nav .user .user-option .dropdown-menu {
    background-color: #242324;
    border: none;
    text-align: center;
}

header nav .user .user-option .dropdown-menu a{
    text-decoration: none;
}

.body {
  height: 60%;
  background-color: #ff8a86;
}

.body .mot {
  margin: 0 15px;
  background-color: #242324;
  width: 20px;
  border-radius: 50px;
  padding: 25px;
}

.body .text {
  color: #fff;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.body .text .wtm {
  font-size: 56px;
  font-weight: 900;
}

.body .text .text-detail {
  font-size: 30px;
  padding: 0 10px;
}

.body .h150 {
  height: 150px;
}
.body .h250 {
  height: 250px;
}
.body .h300 {
  height: 300px;
}
.body .h500 {
  height: 500px;
}

.footer {
  background-color: #242324;
  height: 10%;
}
