html,
body {
  font-family: "Hammersmith One", sans-serif;
  width: 100%;
  height: 100%;
}

header {
  height: 30%;
}

header nav {
  height: 100% !important;
  background-color: #242324;
  padding: 0 100px !important;
}

header nav a {
  color: #ff8a86 !important;
  font-size: 22px;
  /* padding: 0 25px; */
}

header nav .nav-item .nav-link {
  padding: 0 50px !important;
}

header nav .user .user-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  line-height: 40px;
  background-color: #ff8a86;
  color: #29323d;
}

header nav .user .user-option button{
    font-size: 20px;
    color: #ff8a86;
    background-color: transparent!important;
    border: none;
    padding: 0 15px;
}

header nav .user .user-option button{
    outline: none!important;
}
header nav .user {
    align-items: center;
}
header nav .user .user-option button:hover{
    color: #fff;
}


header nav .user .user-option .dropdown-menu {
    background-color: #242324;
    border: none;
    text-align: center;
}

header nav .user .user-option .dropdown-menu a{
    text-decoration: none;
}

.body {
  height: 60%;
  background-color: #242324;
  display: table;
}

.body .tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #444444;
  width: 15%;
  height: 100%;
}

.body .tab button {
  display: block;
  background-color: #444444;
  color: #ff8a86;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
}

/* Change background color of buttons on hover */
.body .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.body .tab button.active {
  background-color: #ddd;
}


.body .tabcontent {
  width: 85%;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  border-left: none;
  height: 100%;
  background-color: #444444;
}

.body .tabcontent .table-contain{
  overflow:scroll;
  height:28em;
  overflow:auto;
  margin-top: 4.5em;
  margin-bottom: 3em;
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.body .tabcontent table{
    width: 100%;
}

th,td{
    height: 50px;
    vertical-align: center;
    border: 2px solid #ff8a86;
    color: white;
}

.footer {
  background-color: #242324;
  height: 10%;
}
